.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.submit-btn {
  background-color: #1abc9c;
  color: #fff;
}

.register-prompt {
  margin-top: 16px;
}

p a {
  color: #1abc9c;
}

p a:hover {
  color: #2E8B57;
}

.main-body {
  min-height: 100vh;
  margin-bottom: 60px;
}

h1, h2 {
  font-weight: bold;
}

h5 {
  color: grey;
}

.footer {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #1abc9c;
  position: relative;
}

.footer p {
	margin: 34px 0;
	font-size: 12px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
